################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/RoleBase
/LoginDTO/bin/Debug
/LoginDTO/obj/Debug
/LoginVO/bin/Debug
/LoginVO/obj/Debug
/packages
/RoleBase/bin
/RoleBase/obj/Debug
/LoginServerBO/bin/Debug
/LoginServerBO/obj/Debug
/RoleBaseDB/bin/Debug
/RoleBaseDB/obj/Debug
/RoleBaseTests/bin/Debug
/RoleBaseTests/obj/Debug
/RoleBaseDB/RoleBaseDB.jfm
/RoleBaseDB/RoleBaseDB.dbmdl
/LoginServerBOTests/bin/Debug
/LoginServerBOTests/obj/Debug
/LoginBusObj/bin/Debug
/LoginBusObj/obj/Debug
/LoginBusObjTests/bin/Debug
/LoginBusObjTests/obj/Debug
/LoginDAL/bin/Debug
/LoginDAL/obj/Debug
/LoginDALTests/bin/Debug
/LoginDALTests/obj/Debug
/LoginServiceObj/bin/Debug
/LoginServiceObj/obj/Debug
/LoginServiceObjTests/bin/Debug
/LoginServiceObjTests/obj/Debug
