################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/RoleBase
/LoginDTO/bin/Debug
/LoginDTO/obj/Debug
/LoginVO/bin/Debug
/LoginVO/obj/Debug
/packages
/RoleBase/bin
/RoleBase/obj/Debug
/LoginServerBO/bin/Debug
/LoginServerBO/obj/Debug
