################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/RoleBase
/LoginDTO/bin/Debug
/LoginDTO/obj/Debug
/LoginVO/bin/Debug
/LoginVO/obj/Debug
/packages
/RoleBase/bin
/RoleBase/obj/Debug
/LoginServerBO/bin/Debug
/LoginServerBO/obj/Debug
/RoleBaseDB/bin/Debug
/RoleBaseDB/obj/Debug
/RoleBaseTests/bin/Debug
/RoleBaseTests/obj/Debug
/RoleBaseDB/RoleBaseDB.jfm
/RoleBaseDB/RoleBaseDB.dbmdl
/LoginServerBOTests/bin/Debug
/LoginServerBOTests/obj/Debug
/LoginBusObj/bin/Debug
/LoginBusObj/obj/Debug
/LoginBusObjTests/bin/Debug
/LoginBusObjTests/obj/Debug
/LoginDAL/bin/Debug
/LoginDAL/obj/Debug
/LoginDALTests/bin/Debug
/LoginDALTests/obj/Debug
/LoginServiceObj/bin/Debug
/LoginServiceObj/obj/Debug
/LoginServiceObjTests/bin/Debug
/LoginServiceObjTests/obj/Debug
/Login.BO/bin/Debug
/Login.BO/obj/Debug
/Login.BOTests/bin/Debug
/Login.BOTests/obj/Debug
/Login.DAL/bin/Debug
/Login.DAL/obj/Debug
/Login.DALTests/bin/Debug
/Login.DALTests/obj/Debug
/Login.DTO/bin/Debug
/Login.DTO/obj/Debug
/Login.Service/bin/Debug
/Login.Service/obj/Debug
/Login.ServiceTests/bin/Debug
/Login.ServiceTests/obj/Debug
/Login.VO/bin/Debug
/Login.VO/obj/Debug
/Login.BO/bin/Release
/Login.BO/obj/Release
/Login.BOTests/bin/Release
/Login.BOTests/obj/Release
/Login.DAL/bin/Release
/Login.DAL/obj/Release
/Login.DALTests/bin/Release
/Login.DALTests/obj/Release
/Login.DTO/bin/Release
/Login.DTO/obj/Release
/Login.Service/bin/Release
/Login.Service/obj/Release
/Login.ServiceTests/bin/Release
/Login.ServiceTests/obj/Release
/Login.VO/bin/Release
/Login.VO/obj/Release
/RoleBase/obj/Release
/RoleBaseDB/bin/Release
/RoleBaseDB/obj/Release
/RoleBaseTests/bin/Release
/RoleBaseTests/obj/Release
