.Sidebar {
    width: auto;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    background-color: #cecece;
}

.bodyContext {
    width: 80%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 15px;
    font-weight: bold;
    float: left;
}


