body {
    background-color: #eee;
    font: normal 16px/140% Arial,Helvetica,"微軟正黑體";
}

ul, #rolebase-nav-menu {
    list-style-type: none;
}

#rolebase-nav-menu {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #626b7a;
    width: 100%;
    background-color: #edf0f1;
}

.rolebase-menu-node {
    margin-left: 5px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    height: 40px;
}

#rolebase-nav-menu a {
    color: #626b7a;
}

.rolebase-menu-node::after {
    content: ">";
    display: inline-block;
    margin-left: 6px;
    font-size: 9px;
    transition: all 0.5s;
}

.rolebase-menu-node-opec::after {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.rolebase-sub-menu {
    display: none;
    padding-left: 25px;
    padding-bottom: 5px;
    font-size: 16px;
}

.active {
    display: block;
}

#rolebase-nav-menu li {
    line-height: 200%;
}

.rolebase-menu-parent {
    border-bottom: 1px solid #e6e6e6;
}
